﻿@{
    ViewData["Title"] = "Index";
}
<header> 
<h1> Bienvenidos al ahorcado de Florencia, Galanti y Matias  </h1>
<h2>Advertencia, le quedan @ViewBag.intentosRestantes intentos </h2>
</header>
<main> 
    <h1>Palabra a completar:</h1>
<div class="juego">
    <div class="imagenAhorcado">
        <img src="/imgs/@(ViewBag.intentosRestantes).png" alt="imgAhorcado">
    </div>
    <div class="letras">
    @foreach (string l in ViewBag.letras) {
        <div class="estructuraGuiones">
    @if (ViewBag.letrasEncontradas.Contains(l)) {
        <h3 class="guiones"> @l.ToUpper() </h3>
    } else {
    <h3 class="guiones"> _ </h3>
    }
    </div>
    }
    </div>
</div>

</div>
<section class="ingresos">
<form action ='@Url.Action("Ingresos", "Home")' method = "get">
    Ingrese una letra: <input type="text" name="l"> 
<button type="submit" class="boton">Ingresar</button class= "boton">
    Ingrese la palabra: <input type="text" name="p"> 
<button type="submit" class="boton">Ingresar</button class= "boton">
</form>
</section>
<div class="ingresosMalos">
    @if (ViewBag.ingresosMalos.Count > 0){
        <h3>Errores: </h3>
        @foreach(string l in ViewBag.ingresosMalos){
            <h4>@l.ToUpper()</h4>
        }
    }
</div>
</main>