@{
    ViewData["Title"] = "Index";
}
<header> 
<h1> Bienvenidos al ahorcado de Florencia, Galanti y Matias  </h1>
</header>
<main> 
@foreach (char l in @ViewBag.Letras){
    <h2 class="guiones">_ </h2>
}
<form action='@Url.Action("Ingresos", "Home")' method = "get">
    <input type="text" name="l"/> Ingrese una letra:
    <input type="text" name="p"/> Ingrese la palabra:
<form>
</main>
