﻿@{
    ViewData["Title"] = "Index";
}
<header> 
<h1> Bienvenidos al ahorcado de Florencia, Galanti y Matias  </h1>
<h2>Advertencia, le quedan @ViewBag.intentosRestantes intentos </h2>
</header>
<main> 
<h1>Palabra a completar:</h1>
<div>
    <img src="/imgs/@(ViewBag.intentosRestantes).png" alt="imgAhorcado">
</div>
@foreach (string l in ViewBag.letras) {
@if (ViewBag.letrasEncontradas.Contains(l)) {
    <h3> @l.ToUpper() </h3>
} else {
 <h3> _ </h3>
}
}
<form action ='@Url.Action("Ingresos", "Home")' method = "get">
    Ingrese una letra: <input type="text" name="l"> 
    <input type="submit" value="Ingresar">
    Ingrese la palabra: <input type="text" name="p"> 
    <input type="submit" value="Ingresar">
</form>
</main>